PORT=


DATABASE_TYPE=""
DATABASE_HOST=""
DATABASE_PORT=
DATABASE_USERNAME=""
DATABASE_PASSWORD=""
DATABASE_NAME=""

MAILER_TRANSPORTER_HOST=""
MAILER_TRANSPORTER_PORT=
MAILER_TRANSPORTER_SECURE=
MAILER_TRANSPORTER_USER=""
MAILER_TRANSPORTER_PASS=""

JWT_USER_SECRET=""
JWT_USER_SECRET_EXPIRES_IN=""
JWT_USER_REFRESH_SECRET=""
JWT_USER_REFRESH_SECRET_EXPIRES_IN=""

JWT_ADMIN_SECRET=""
JWT_ADMIN_SECRET_EXPIRES_IN=""
JWT_ADMIN_REFRESH_SECRET=""
JWT_ADMIN_REFRESH_SECRET_EXPIRES_IN=""

JWT_FORGOT_ADMIN_PASSWORD_SECRET=""
JWT_FORGOT_ADMIN_PASSWORD_SECRET_EXPIRES_IN=""

JWT_CUSTOMER_SECRET=""
JWT_CUSTOMER_SECRET_EXPIRES_IN=""
JWT_CUSTOMER_REFRESH_SECRET=""
JWT_CUSTOMER_REFRESH_SECRET_EXPIRES_IN=""

JWT_FORGOT_CUSTOMER_PASSWORD_SECRET=""
JWT_FORGOT_CUSTOMER_PASSWORD_SECRET_EXPIRES_IN=""

JWT_DEALER_SECRET=""
JWT_DEALER_SECRET_EXPIRES_IN=""
JWT_DEALER_REFRESH_SECRET=""
JWT_DEALER_REFRESH_SECRET_EXPIRES_IN=""

JWT_FORGOT_DEALER_PASSWORD_SECRET=""
JWT_FORGOT_DEALER_PASSWORD_SECRET_EXPIRES_IN=""